:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(66, 44, 44, 0.4);
    --our-team-bg-color: #F5F4FA;
    --bg-color: #E5E5E5;
    --bg-variants: rgba(47, 48, 58, 0.8);
    --footer-bg-color: #2F303A;
}

body {
    background-color: var(--white-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.page-header{

}
a{
    text-decoration: none;
}
.section{
    margin-bottom: 94px;
}

.logo-web {
    text-decoration: none;
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.logo-studio{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.logo {
    color: var(--secondary-text-color);
    font-family: Raleway, sans-serif;
}
.logo:hover, .logo:focus {
    color: var(--accent-color) 
}

.list, .list-portfolio {
    list-style: none;
    
}.site-nav{
    display: flex;
}
/* .site-nav .item{
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
} */

/* .site-nav .item + .item{
    margin-left: 50px;
} */

.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    /* font-size: 14px; */
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color) ;
}
.site-nav .link.current {
    color: var(--accent-color)
}
.list-nav{
    margin: 0;
    padding: 0;
    font-weight: 500;
    /* font-size: 14px; */
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.list-link:hover, .list-link:focus {
    color: var(--accent-color) ;
}
.link {
    text-decoration: none;
}
.section-hero {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
h2{
    margin: 0;
}

.hero-tittle{
    margin-top: 0;
    margin-bottom: 46px;
}
.section-hero-variants{
    display: inline-block;
    padding: 27px 88px;
    /* padding-bottom: 27px; */
    min-width: 370px;
    background-color: var(--bg-variants);
    color: var(--white-text-color);
    font-weight: 700;
    /* font-size: 14px; */
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    text-decoration: none;
    border-color: transparent;
    min-width: 200px;
    margin: 0;
    
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    }
.button:hover, button:focus {
    color: var(--secondary-text-color);
    background-color: var(--white-text-color);
}
.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    /* font-size: 14px; */
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list .section-title {
    margin: 0;

}
.list .advantegies{
    display: block;
    padding: 25px 105px;
    margin-bottom: 30px;
    min-width: 278px;
    background-color: var(--our-team-bg-color);
}
.list img:hover, .list img:focus{
    background-color: var(--accent-color);
}
.list .section-title{
    margin-bottom: 10px;
}
.section-title-hero{
    color: var(--secondary-text-color)
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-title-team{
    margin-bottom: 50px;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name{
    background-color: var(--white-text-color);
}
.our-team{
    background-color: var(--our-team-bg-color);
}
/* .team-photo{
    margin-bottom: 30px;
} */
.team{
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}
.team-job{
    margin-top: 0;
    margin-bottom: 16px;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}
.list-information{
    margin: 0;
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
footer{
    background-color: var(--footer-bg-color);
}
.logo-studio.footer{
    color: var(--white-text-color);
}
.footer-logo{
    margin-bottom: 10px;
}
.footer-adress{
    margin-bottom: 9px;
    color: var(--white-text-color);
    font-weight: 700;
    /* font-size: 14px; */
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-tittle{
    margin-bottom: 21px;
    color: var(--white-text-color);
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
.footer-link, .footer-link-adress {
    color:rgba(255, 255, 255, 0.6) ;
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-link-adress{
    margin-bottom: 9px;
}
.footer-end{
    color: var(--footer-text-color);
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 2;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.03em;

}
/* .button {
    color: var(--white-text-color);
    background-color: var(--accent-color); */
    /* font-size: 24px;
    padding: 12px;
    display: inline-block;
    border-color: 1px transparent;
    text-decoration: none; */
/* } */


/* Портфолио */

.portfolio-button{
    padding-bottom: 16px;
    margin-bottom: 34px;
    margin-top: 94px;
    color: var(--secondary-text-color);
    background-color: var(--our-team-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    padding: 7px 2px;    
}
.portfolio-button:hover, .portfolio-button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
.portfolio-name{
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}
.portfolio-type{
    margin-bottom: 20px;
    margin-top: 0;
    
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
}
.portfolio-discription{
    margin-bottom: 0;
    margin-top: 0;
        
    color: var(--white-text-color);
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
}
.list-portfolio img{
    min-width: 380px;
    margin-bottom: 20px;
}